* {
  box-sizing: border-box;
}
.button{
  border: none;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}
.container{
 
    background: #181818;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animate__animatedanimate__start-text{
  color: white;
  animation: pulse;
  animation-duration: 2s;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: 400;
  margin: 15px;
  font-weight: bold
}
.button-quest{
  color: rgb(39, 39, 39);
  background-color: #ffffff;
  height: 30px;
  width: 150px;
  border-radius: 15px;

  font-family: 'Montserrat';
  margin: 0px;
}
.button-quest:active{
  background-color: #ffffff;
  color: rgb(12, 12, 12);
}